body {
    background-image: url("../images/background.jpg")
}

.jumbotron {
    font-family: 'Condiment', cursive;
    font-size: 6.5rem;
    background-color: steelblue !important;
}

.instructions {
    border: solid 4px #444444;
    background-color: rgb(198, 230, 241);
    padding: 20px;
}

h1,
span {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 6.5rem;
}

p {
    font-family: 'Lato', sans-serif;
    color: green;
}

.jewels {
    clear: both;
    padding: 20px;
    background: white;
}

.jewelPic {
    height: 60px;
    display: inline-block;
}

.userTotal {
    background: tomato;
    padding: 10px;
}

.numberToMatch {
    background: thistle;
    padding: 10px;
}

.winsAndLosses {
    background: lightsalmon;
    padding: 10px; 
    padding-top: 20px;
    padding-bottom: 20px;  
}